
<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
   <div ></div>
   <h1>View Appointment</h1>
   <div style="height: 50px;"></div>
    <table class="table table-light" style="border-radius: 10pt;">
        <thead>
          <tr>
            <th scope="col">S.no</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">email</th>
            <th scope="col">Age</th>
            <th scope="col">Complete Address</th>
            <th scope="col">Trainer Perference</th>
            <th scope="col">Physio Required</th>
            <th scope="col">Package</th>
            <th scope="col">Total Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Ram</td>
            <td>8563785436</td>
            <td>ram@gmail.com</td>
            <td>31</td>
            <td>vijaynagar, Bangalore</td>
            <td>male</td>
            <td> No</td>
            <td> Premium</td>
            <td>30,000</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>seetha</td>
            <td>7587586589</td>
            <td>seetha@gmail.com</td>
            <td>31</td>
            <td>Electronic City Phase-1 , Bangalore</td>
            <td>female</td>
            <td> No</td>
            <td> Premium</td>
            <td>20,000</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>mini</td>
            <td>9988776655</td>
            <td>mini@gmail.com</td>
            <td>28</td>
            <td>Madiwala , Bangalore</td>
            <td>Female</td>
            <td> No</td>
            <td> Premium</td>
            <td>40,000</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>smitha</td>
            <td>7564834243</td>
            <td>smitha@gmail.com</td>
            <td>31</td>
            <td>mg road Bangalore</td>
            <td>female</td>
            <td> No</td>
            <td> Premium</td>
            <td>30,000</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>suman</td>
            <td>9774253643</td>
            <td>suman@gmail.com</td>
            <td>31</td>
            <td>Electronic City Phase-2, Bangalore</td>
            <td>Male</td>
            <td> No</td>
            <td> Premium</td>
            <td>30,000</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>sandeep</td>
            <td>7654432589</td>
            <td>sandeep@gmail.com</td>
            <td>35</td>
            <td>Electronic City Phase-2,Bangalore</td>
            <td>Male</td>
            <td> No</td>
            <td> Premium</td>
            <td>35,000</td>
          </tr>
        </tbody>
      </table>
      <div style="height: 140px;"></div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
